<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}
		<script type="text/javascript">
		function getQueryString(name) {
			 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			 var r = window.location.search.substr(1).match(reg);
			 if(r!=null)return  unescape(r[2]); return null;
		}
		
		function get_state(state, res) {
			if (state == 0)
			{
				return "队列中";
			}
			else if (state == 1)
			{
				return "验证中";
			}
			else
			{
				if (res == -2)
				{
					return "编译错误";
				}
				else if (res == -1)
				{
					return "答案错误";
				}
				else if (res == 0)
				{
					return "答案正确";
				}
				else if (res == 1)
				{
					return "运行超时";
				}
				else if (res == 2)
				{
					return "运行超时";
				}
				else if (res == 3)
				{
					return "内存超界";
				}
				else if (res == 4)
				{
					return "运行错误";
				}
				return "系统错误";
			}
		}
		</script>
	</head>
	<body style="background: #f6f6f6;">
		<nav class="navbar navbar-default navbar-fixed-top" style="background: #016fad;">
			<div class="container">
				<style type="text/css">
				</style>
				<ul class="nav navbar-nav navbar-right">
					{% if user.id %}
					<li><a href="/" style="color: #ffffff; background-color: transparent;">我的面试</a></li>
					{% if user.is_staff %}
					<li><a href="/problem_list" style="color: #ffffff; background-color: transparent;">题目管理</a></li>
					<li><a href="/submissions" style="color: #ffffff; background-color: transparent;">提交管理</a></li>
					<li><a href="/examinations" style="color: #ffffff; background-color: transparent;">面试管理</a></li>
					<li><a href="/users" style="color: #ffffff; background-color: transparent;">用户管理</a></li>
					{% endif %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff; background-color: transparent;">
							您好, {{ user.username }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/logout">退出</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
			
		<div class="container" style="margin-top:100px">
			{% if in_exam == 1 %}
			{%include "templates/count_down.html" %}
			{% endif %}
			{% block page_head %}
			{% endblock %}
			<div class="row">
				<div class="col-sm-8">
					{% block page_left %}
					{% endblock %}
				</div>
				<div class="col-sm-4">
					{% block page_right %}
					{% endblock %}
				</div>
			</div>			
			<hr style="background: #b6e1fb; border-color: #b6e1fb;"/>
			{% block mainbody %}
			{% endblock %}
		</div>
	</body>
	
	{% block script %}
	{% endblock %}
</html>
