<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}
		<!-- Custom styles for this template -->
		<!--link href="../signin.css" rel="stylesheet"-->
		<link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
	</head>
	<body>
		{% block mainbody %}
		{% endblock %}
	</body>
	<script type="text/javascript">
	function getQueryString(name) {
		 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		 var r = window.location.search.substr(1).match(reg);
		 if(r!=null)return  unescape(r[2]); return null;
	}
	</script>
</html>
