{%extends "templates/base.html" %}
{% block page_head %}
{% if in_exam == 1 %}
<a href="/examination?examination_id={{ examination.id }}">返回上级</a>
{% else %}
<a href="/problem_list">返回上级</a>
{% endif %}
{% endblock %}

{% block page_left %}
<div class="row">
	<div class="col-sm-6">
		<h2>{{ problem.title }}</h2>
	</div>
	<div class="col-sm-6">
		<label>标签</label>
		<br>
		{% for tag in problem.tags.all %}
		<span class="label label-default">{{ tag.name }}</span>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block page_right %}
<div class="row">
	<div class="col-sm-4">
		<label>难度</label>
		<br>
		<p class="text-primary">{{ problem.difficulty.name }}<p/>
	</div>
	<div class="col-sm-4">
		<label>时间限制</label>
		<br>
		<p class="text-primary">{{ problem.time_limit }}ms<p/>
	</div>
	<div class="col-sm-4">
		<label>内存限制</label>
		<br>
		<p class="text-primary">{{ problem.memory_limit }}MB<p/>
	</div>
</div>
{% endblock %}

{% block mainbody %}
<div class="form-group" id="description">
{{ problem.description |safe }}
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-3">
			<select class="form-control" id="language">
				{% for language in problem.languages.all %}
				<option value="{{ language.lname }}">{{ language.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-sm-3">
			<button class="btn btn-primary" onclick="get_lang();">重置</button>
		</div>
	</div>
</div>
<div class="form-group">
	<div>
		<textarea class="form-control" id="code"></textarea>
	</div>
</div>
<div class="form-group">
	<button class="btn btn-primary btn-lg" id="submit" onclick="submit();">提交</button>
</div>
<div class="form-group">
	<pre id="result"></pre>
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/codemirror/codemirror.css">
<script src="/static/codemirror/codemirror.js"></script>
<script src="/static/codemirror/python.js"></script>
<script src="/static/codemirror/clike.js"></script>
<script src="/static/codemirror/matchbrackets.js"></script>
<script type="text/javascript">
var timer;
var submission_id;
var editor;
$(document).ready(function() {
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	var code = document.getElementById("code");
	editor = CodeMirror.fromTextArea(code, {
		lineNumbers: true,
		matchBrackets: true,
		indentUnit:4,
		indentWithTabs: true,
	});
	editor.setSize("100%", 400);
	$("#result").hide();
	$("#language").change(get_lang);
	get_lang();
});

function get_lang() {
	$.ajax({
		type: "POST",
		url: "/problem_language/",
		data: {
			"problem_id":getQueryString("problem_id"),
			"lang":$("#language").val()
		},
		success: function(data){
			editor.setValue(data);
			var l = $("#language").val();
			if (l == "c")
			{
				editor.setOption("mode", "text/x-csrc");
			}
			else if (l == "cpp")
			{
				editor.setOption("mode", "text/x-c++src");
			}
			else if (l == "cs")
			{
				editor.setOption("mode", "text/x-csharp");
			}
			else if (l == "jav")
			{
				editor.setOption("mode", "text/x-java");
			}
			else
			{
				editor.setOption("mode", "text/x-python");
			}
		}
	});
}

function get_submit_data(data) {
	var result = JSON.parse(data);
	submission_id = result['id'];
	var state = result["state"];
	var res = result["res"];
	var cpu = result["cpu"];
	var memory = result["memory"];
	
	if (state == 0)
	{
		return "队列中 请等待...";
	}
	else if (state == 1)
	{
		return "验证中 请等待...";
	}
	else
	{
		var s = get_state(2, res)
		s = s + "\n\n运行时间:" + cpu + "ms    内存使用:" + memory / 1024 + "k";
		return s;
	}
}

function get_submit_state(data) {
	var result = JSON.parse(data);
	submission_id = result['id'];
	var state = result["state"];
	return state;
}

function submit() {
	window.clearTimeout(timer);
	$.ajax({
		type: "POST",
		url: "/problem_submit/",
		data: {
			"problem_id":getQueryString("problem_id"),
			"examination_sub_id":getQueryString("examination_sub_id"),
			"lang":$("#language").val(),
			"code":editor.getValue()
		},
		success: function(data){
			$("#result").show();
			var state = get_submit_state(data);
			var result = get_submit_data(data);
			document.getElementById("result").innerText = result;
			timer = window.setTimeout(view_submission, 3000);
			$("#submit").attr("disabled", true);
		}
	});
}

function view_submission() {
	$.ajax({
		type: "POST",
		url: "/problem_view_submit/",
		data: {
			"submission_id":submission_id
		},
		success: function(data){
			$("#result").show();
			var state = get_submit_state(data);
			var result = get_submit_data(data);
			document.getElementById("result").innerText = result;
			if (state != 2)
			{
				timer = window.setTimeout(view_submission, 3000);
			}
			else
			{
				$("#submit").attr("disabled", false);
			}
		}
	});
}
</script>
{% endblock %}